<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Humeme Society</title>
  </head>
  <body>
    <form class="username" method="post">
      <input type="text" name="username" value="matt">
      <button type="submit" name="submit"></button>
    </form>
  </body>
</html>
